# Dependabot will run on day 10 of each month at 02:15 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "15 2 10 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Uwe1958"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "15 2 10 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Uwe1958"
