/* Style your widget here */
/*.bluesound-class {
    font-style: italic;
}*/
.bluesound-class table {
    background-color: #514d4d;
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-y: auto;
    max-height: 100%;
}
.bluesound-class img {
    margin: 10px;
    height: 50px;
    width: 50px;
}

.bluesound-class .title {
    color: #ffffff;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bluesound-class .artist {
    color: #888888;
    padding-bottom: 10px;
}

.bluesound-class .current {
    color: #2f9bde;
    font-size: 18px;
    padding-top: 10px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bluesound-class div {
    height: 800px;
}
